<section class="padding-y-100 my-0 featured-section " >

    <div class=" mt-5 featured-title-block">
        <h2 class=" featured-title">Our Most <br> Popular Programs</h2>
      </div>
    <div class="container featured">
      <div class="row ">
        <div class="col-12">
          <owl-carousel-o  [options]="customOptions" class="arrow-on-hover" data-space="30" data-arrow="true">
            <ng-container *ngFor="let slide of formations">
                <ng-template carouselSlide [id]="slide._id">
                    <div class="card text-gray height-100p shadow-v1" style="height: 450px !important;">
                    <div class="position-relative"><a ><img class="card-img-top imgf" [src]="endpoint.url + '/getfile/' + slide.image"
                            alt=""></a>
                        <div
                        class="position-absolute d-flex align-items-center justify-content-between width-100p top-0 padding-15">
                        <span class="badge badge-primary mr-3">Featured</span>
               
                        </div>
                    </div>
                    <div class="card-body" ><a [routerLink]="['/detail' , slide.titre, slide._id]" class="h6"> {{slide.titre}} </a>
                        <p class="my-3"><i class="ti-user mr-2"></i> {{slide.formatteur}}  </p>
                   
                    </div>
                    <div class="media border-top p-3 align-items-center justify-content-between" style="height: 90px;margin-top: -24px;"  >
                        <ul  style="height: 20px;margin-top: -10px;" [ngClass]="{'top':  slide.newprix > 0 , 'list-unstyled': true, 'mb-0': true }" >
                            <h2 class="h5" style=" margin-bottom: -8px;text-align: left" *ngIf="slide.prix == 0"  ><span class="text-primary"> FREE</span></h2>

                            <h2 class="h5" style="text-align: left;margin-top: -14px;" *ngIf="slide.prix > 0" [ngClass]="{'deleted':  slide.newprix > 0}" ><span [ngClass]="{'text-primary' : slide.newprix == 0 }"> {{ slide.prix }} TND</span></h2>
                            <h2 class="h5" style="margin-top: -18px;text-align: left" *ngIf="slide.newprix > 0"><span class="text-primary "> {{ slide.newprix + ' ( special offer  )' }} </span></h2>
                         </ul>
                        <a  (click)="addToWishList(slide._id)"  style="margin-top: -10px;" class="btn btn-opacity-primary iconbox iconbox-sm" data-container="body" data-toggle="tooltip"
                        data-placement="top" data-skin="light" title="Add to wishlist">
                        <i *ngIf="_wish.wishlist.indexOf(slide._id) == -1 "  class="far fa-heart"></i>
                        <i *ngIf="_wish.wishlist.indexOf(slide._id) >= 0 "  class="fas fa-heart active "></i>
                    </a>
                    </div>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        </div>
      
      </div>

      <!-- featured Btn -->
      <a [href]="'/programs/' + categorie.name" >
      <button class="featured-btn btn">Browse All Programs</button>

      </a>
    </div><!-- END container-->
  </section>
  <!-- END section-->