.faq{
    width: 100%;
    max-height:fit-content;
    background-image: url(/assets/images/faq.png);
    background-position: 100% 100%;
    background-size: 100% 100%;
    height: 250vh;
    background-repeat: no-repeat;
    position: relative;
}

.collapses{
    transform: translateY(10%);
}

.faq-title{
    line-height: 70px;
    font-family: poppins;
    font-size: 60px;
    float: right;
    font-weight: 700!important;
    color: #292929;
    margin: 15px 0;
   
    position: absolute;
    top:10px;
    left:100px;
}
  
  
.faq-title::before{
    content:'';
    width: 150% !important;
    height: 28px !important;
    background-color: #0072bb;
    position: absolute;
    left:-100px;
    bottom:2px;
    z-index: -999;
}


.img{
    object-fit: cover;
    width: 100% !important;
}
.accordion-btn{
    width: 600px;
    background-color: initial;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: justify;
    border: none;
    color: #2c2b2b;
}
.accordion-btn:hover{
    color: #2c2b2b !important;
}

.faq-card-body{
    font-size: 19px!important;
    line-height: 29px;
    margin-left: 20px;
}
.faq-button{
  margin-top: 34px;
  background: #fff;
  box-shadow: 0 4px 42px #00000026;
  border-radius: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 40px;
  color: #0072bb;
  border: 3px solid #0072bb;
}


@media (max-width: 320px){
    .accordion-btn{
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    } 
  }
  
  @media (min-width: 360px){
    
    .faq{
        height: 200vh;
    }
    .accordion-btn{
        width: 100% !important;
        font-size: 25px;
        line-height: 30px;
    } 
  }
  
  
  @media (min-width: 375px){
    
  }
  
  @media (min-width: 400px){
    
  }
  

@media (min-width: 478px){
  
}

@media (min-width: 786px){
    .faq{
        height: 105vh;
    }

  .accordion-btn{
    font-size: 16px;
    height: 60px;
    width: 600px;
    font-size: 20px;
    line-height: 48px;
}
  
}
     

@media (min-width: 1920px){
    .collapses{
        width: 100% !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .faq-title{
        font-size: 90px;
        line-height: 90px;
    }

    .accordion-btn{
        font-size: 50px;
        line-height: 50px;
        width: 100%;
        height: 100%;
    }

    .faq-card-body{
        font-size: 30px !important;
        line-height: 48px;

        
    }

}
