

.title_icon {
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.title_icon > h1 {
    margin: 0 10px !important;
    text-shadow: 2px 2px 2px rgba(37, 37, 37, 0.158);
}



.card{
    margin: 16px;
    height: 340px !important;
  }
  
  .deleted{
      color: black;
      text-decoration: line-through ;
      font-size: 14px;
      text-align: right;
  }
  
  
  .list-unstyled{
      height: 30px;
  }
  
  
  .title{
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    height: 40px;
  }
  
  
  
  .top{
  
    margin-top: -30px !important;
  
  }
  
  
  
  .imgf{
  
    object-fit:fill;
    height: 170px;
  }