






  
  .deleted{
    color: black;
    text-decoration: line-through ;
    font-size: 14px;
    text-align: right;
}


.list-unstyled{
    height: 30px;
}


.title{
  display: block!important;
  display: -webkit-box!important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 35px;
  
}



.top{

  margin-top: -30px !important;

}



.imgf{

  object-fit:fill;
  height: 170px;
}


.profile{
  width: 140px;
  height: 140px;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  position: relative;
}

.icon{
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #c1c1c1;
    font-size: 28px;
}

.icon1{
  position: absolute;
  bottom: 15px;
  
  color: #c1c1c1;
  font-size: 28px;
}

.error{

  border: 1px solid rgb(240, 76, 76);
  color: rgb(240, 76, 76);
}