<section class="padding-y-100 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card shadow-v2">
                    <div class="card-header px-lg-5 border-bottom">
                        <h4 class="mt-4">Get Your Password</h4>
                    </div>

                    <div *ngIf="!showForm" class="m-sm-4">
                        <h1>lien de verification a été envoyer dans votre boite mail </h1>
                    </div> 
                    <div *ngIf="showForm" class="card-body">
                        
                        <div *ngIf="emailAlert"  class="text-center">
                            <div  class="alert alert-danger p-3 my-2" >
                                Email n'existe pas !
                            </div>
                        </div>
                        <div  class="px-lg-5">
                            <p class="marginBottom-40">Lost your password? Please enter your email address. You will
                                receive a link to create a new password via email.</p>
                            <div class="input-group input-group--focus marginBottom-40">
                                <div class="input-group-prepend"><span
                                        class="input-group-text bg-white ti-email"></span></div>
                                        
                                        <input type="email"  [(ngModel)]="forgot.email" [ngClass]="{'form-control': true, 'border-left-0' : true , 'pl-0' : true , 'error' : emailAlert}" placeholder="Email" required>
                            </div><button (click)="forgotPassword()" class="btn btn-block btn-primary mb-5">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END row-->
    </div><!-- END container-->
</section>