.footer-top {



    height: 384px;
    left: 0px;
   
    background: linear-gradient(82.78deg, #000955 -10.79%, #E16310 118.02%) !important;


}

@media (max-width: 800px){
    .footer-top {



        height: 60vh !important;
    
    
    }
    
  }


@media (max-width: 700px){
    .footer-top {



        height: 120vh !important;
    
    
    }
    
  }