
<header>
  <img src="assets/images/header.svg"  id="header-img">
  <div id="header-desc">
      <div class="header-info">
          <p class="top-title">learn a new skill online, on your time</p>
          <h1 class="title">LEARNING  <br> is a CONSISTENT Process </h1>
          <p class="description">a set of various courses online where you can leanr about anything you need</p>
         
          <button class="button">Start now</button>
          <div class="header-icons">
              
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-instagram"></i>
          </div>
      </div>
      <div>
        <img id="header-video" src="assets/images/pexels-michelangelo-buonarroti-8728380.jpg" alt="">
      </div>
  </div>
 
</header>
