<section class=" padding-y-100  work-section ">
    <div class=" mb-5">
        <h2 class="mb-5 work-title">How it <br> Works</h2>
      </div>
      <h1 class="section-title text-center">
        <strong >We are popular</strong> <br>
         because of our way of working
      </h1>

      <div class="container-fluid pl-0">
          <svg _ngcontent-kad-c51=""  width="100%" id="arrow" viewBox="0 0 1896 201" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-kad-c51="" d="M1883.22 135L1893.39 148.387L1879 157.848" stroke="#E16310" stroke-width="2"></path><path _ngcontent-kad-c51="" d="M1 2C120.742 59.4752 401.775 178.435 567.971 194.475C775.716 214.525 1234.49 162.396 1299.41 146.356C1364.33 130.317 1593.71 98.2375 1693.26 122.297C1792.8 146.356 1840.41 146.356 1879.36 146.356" stroke="#E16310" stroke-width="3" stroke-dasharray="15 15"></path></svg>
      
            <div class="row info-bloc no-gutter">
              <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center">
                <div class="work-img">
                    <img src="assets/images/self.png" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="work-img">
                    <img src="assets/images/start.png" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="work-img">
                    <img src="assets/images/open.png" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-start">
                <div class="work-img">
                    <img src="assets/images/transform.png" alt="">
                </div>
              </div>
            </div>
        </div>
</section>