<section class=" padding-y-50 vision  ">
    <div class=" mb-5">
        <h2 class="mb-5 vision-title">Our <br> Vision</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="vision-block">
                    <img src="assets/images/vision/shape1.png" class="vision-desc" alt="">
                    <img src="assets/images/vision/mission.gif" class="vision-img" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="vision-block">
                    <img src="assets/images/vision/shape2.png" class="vision-desc-rev" style="margin-left: -48px;" alt="">
                    <div  class="vision-img-rev text-center">
                        <img src="assets/images/vision/philosophy.gif" width="50%" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="vision-block">
                    <img src="assets/images/vision/shape3.png" class="vision-desc-2" alt="">
                    <div  class="vision-img-2 ">
                            <img src="assets/images/vision/how.gif" width="50%" alt="">
                    </div>
                </div>
            </div>
        </div>
        <a [href]="'/programs/' + categorie.name" >
        <button class="vision-btn btn">Unlock My Potential</button>
        </a>
    </div>

    
</section>
